version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: messaging_app_db
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    container_name: messaging_app_web
    restart: always
    env_file:
      - .env
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - .:/app

volumes:
  db_data:
